body{
    background-color: rgb(216, 255, 242);
    font-family: Cambria, Cochin, Georgia, Times;
}

h2{
    margin-top: 2rem;
    font-size: 3rem;
}

textarea {
    min-height: 400px;
}

#emails-ul li {
    border: 1px solid rgb(43, 75, 59);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
}

#emails-ul button{
    width: 80px;
    height: 30px;
    margin-bottom: 8px;
}
